a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
body {
  width: 100%;
  height: auto;
}
.home-container {
  background-image: url("../images/lol-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
nav {
  justify-content: right;
  flex-direction: row-reverse;
  width: 20%;
}
/* need a responsive solution */
nav img {
  width: 20%;
  height: 10vh;
}

.home-items-container {
  display: flex;
  font-size: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}
.home-items-container div {
  font-weight: bolder;
  cursor: pointer;
  color: white;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
}
.sign-up-button {
  height: 30px;
  width: 100%;
}
/* need responsive solution  */

/* Top Css */
.signup-container {
  display: flex;
}
header .home-container .sign-up-link {
  color: white;
  margin-top: 1rem;
}
